<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>Simple P Project Management</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <%= flash_toastr %>
      <% content_for :sidebar do %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <%= yield(:sidebar) %>
      <section class="wrapper" id="main">
        <%= yield %>
      <% else %>
        <%= yield %>
      <% end %>
      </section>
  </body>
</html>
